{% extends 'accounts/homebase.html' %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Olá, administrador</h1>
  <p class="lead">Bem vindo ao Hopeself</p>
  <hr class="my-4">
  <p>Acesse</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/adminregister" role="button">Cadastrar</a>
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
